@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-Light.woff2") format("woff2"),
        url("../webfonts/SofiaSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-ExtraBold.woff2") format("woff2"),
        url("../webfonts/SofiaSans-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-Medium.woff2") format("woff2"),
        url("../webfonts/SofiaSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-Bold.woff2") format("woff2"),
        url("../webfonts/SofiaSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-Regular.woff2") format("woff2"),
        url("../webfonts/SofiaSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sofia Sans";
    src:
        url("../webfonts/SofiaSans-Thin.woff2") format("woff2"),
        url("../webfonts/SofiaSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
